<p id="notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>

<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <div class="entry">
        <%= button_to line_items_path(product_id: product), remote: true do %>
          <%=image_tag("#{product.image_url}", class: 'list_image')%>
        <% end %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <% if product == @product %>
            <span class="price current_product">
              <% else %>
            <span class="price">
          <% end %>
            <%= number_to_currency(product.price) %>
          </span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product),
                                                              remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if session[:visits] > 5 %>
  <h2><%= session[:visits] %> Index Views</h2>
<% end %>

<%= @product.inspect %>
